#page-admin {
  margin: 0 auto;
  max-width: 60vw;
  width: 100%;
}

#page-admin header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

#page-admin header a {
  align-items: center;
  color: var(--title-color);
  display: flex;
  font-weight: bold;
  text-decoration: none;
}

#page-admin header a svg {
  color: var(--primary-color);
  margin-right: 16px;
}

#page-admin h2 {
  margin-top: 80px;
  margin-bottom: 24px;
}

#page-admin .createButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

#page-admin .createButton button  {
  width: 250px;
  height: 46px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  align-self: flex-end;
  margin-top: 40px;
  transition: background-color 0.2s;
  cursor: pointer;
}

#page-admin .createButton button:hover {
  background: #2FB86E;
}

#page-admin ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
  list-style: none;
}

#page-admin ul li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}

#page-admin ul li .buttons {
  position: absolute;
  right: 24px;
  top:24px;
  border: 0;
}

#page-admin ul li .buttons button {
  margin-left: 24px;
  right: 24px;
  top:24px;
  border: 0;
}

#page-admin ul li .buttons button:hover {
  opacity: 0.8;
}

#page-admin ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #41414d;
}

#page-admin ul li strong:not(:first-child) {
  margin-top: 32px;
}

#page-admin ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}